RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - 
RewriteRule ^contact\.php$ -
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /index.html [L]