footer{
    .big-footer{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0 30px;
        div{
            flex: 1;
            flex-grow: 1;
        }

        .footer-with-logo{
            width: 100%;
            /* height: 100%; include this if you don't plan to use align-items: center */ 
            min-width: 0;
            text-align: left;

            & > *:not(img){
                margin-left: 50px;
            }

            img{
                max-width: 80%;
                margin-right: 100px;
                object-fit: contain;
            }

            *{
                margin: 20px 0;
            }


            div a.social-button{
                color: white;
                text-decoration: none;
                
                display: inline-block;

                height: 40px;
                width: 40px;
                margin: 0 10px;
                line-height: 40px;
                text-align: center;
                
                background-color: #698b56;
                border-radius: 20px;
            }

            .footer-important-links a{
                display: inline-block;
                text-decoration: none;
                color: #698b56;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }

        .footer-menu{
            text-align: left;
            font-size: 20px;
        }

        .footer-weather{
            margin: 20px;
            border-radius: 30px;
            padding: 10px;
            min-width: 350px;
            background: rgba(105, 139, 86, .3);
            height: 100%;
            text-align: center;
            
            img{
                max-width: 100%;
                object-fit: contain;
            }

            .weather-widget{
                border-radius: 10px;
                background: #698b56;
                width: 350px;
                margin: 0 auto;
            }

            .footer-logo-vertical-align{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }

        ul li{
            list-style: none;
            margin: 10px 0;
            a{
                text-decoration: none;
                color: #698b56;
                font-weight: bold;
            }
        }
    }

    .copyright{
        color: white;
        background: #2a3f36;
        text-align: center;
        padding: 20px 0;
    }
}

@media screen and (max-width: 950px){
    footer{
         .big-footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    padding: 0 0 !important;
}
    }
}