.generalMenu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(62, 136, 204);
    z-index: 2000;
    transition: all cubic-bezier(0.115, 0.810, 0.355, 1) 1.2s;
    
    &.toggleMenu{   
        transform: translateX(-100vw);
    }
    .topDiv{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        img{
            width: 30px;
            margin-top:30px;
        }
    }
    .midMenu{
        width: 100%;
        height: 90vh;
        background: rgba(80, 29, 29, 0);
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .leftLinks{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 0;
            a{
                margin: 10px;
                text-decoration: none;
                color: white;
                font-size: 2.9em;
                transition : all 0.2s ease-out;
            }
            a:hover{
                color: rgb(0, 0, 0);
            }
        }
        .rightLinks{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contactCta{
                background: rgb(235, 194, 13);
                padding: 10px 20px;
                border-radius: 5px;
                transition: 0.1s all ease-in;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                }
            }
            .contactCta:hover{
                background: rgb(214, 157, 33);
            }

            .whiteSotheby{
                width: 300px;
                margin-bottom: 32px;
                // height: 100px;
                img{
                    width: 100%;
                    height:  auto;
                    position: relative;
                    left: -30px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .generalMenu a{
        margin: 10px;
        text-decoration: none;
        color: white;
        font-size: 2.1em;
        transition : all 0.2s ease-out;
    }
    .whiteSotheby{
        width: 100px;
        height: 20px;
        img{
            width: 100%;
            height:  auto;
            position: relative;
            left: -30px;
        }
    }
    .generalMenu .midMenu .leftLinks a {
        margin: 10px;
        text-decoration: none;
        color: white;
        font-size: 1.9em;
        transition: all 0.2s ease-out;
    }
    .generalMenu .midMenu {
        width: 100%;
        height: 90vh;
        background: rgba(80, 29, 29, 0);
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


}
@media screen and (max-width : 380px){
    .generalMenu .topDiv img {
        width: 25px;
        margin-top: 10px;
    }
    .generalMenu .midMenu {
        width: 100%;
        height: 82vh;
        background: rgba(80, 29, 29, 0);
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .generalMenu .midMenu .rightLinks .whiteSotheby img {
        width: 71%;
        height: auto;
        position: relative;
        left: 23px;
    }
    .generalMenu .midMenu .leftLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        font-size: 14px;
    }
    .homepageContainer h3 {
        font-size: 22px;
    }
}