nav img{
    height  : 80px;
}
nav img:first-child{
    height  : 40px;
    margin-left: 30px;
    color: white;
}
nav{
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    div.contactButton{
        width: 130px;
        height: 50px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        border-radius: 5px;
        color: white;
        align-items: center;
        margin-right: 30px;
        background:#6A8C57;
        transition: 0.1s all ease-in;
        &:hover{
            background: rgb(60, 80, 49);
        }
    }
}
.navButton{
  display: flex;
    
}
@media screen and (max-width : 500px){
    nav img{
        height  : 50px;
    }
    nav img:first-child{
        height  : 30px;
        margin-left: 20px;
        color: white;
    }
   nav div.contactButton{
        width: 100px;
        height: 40px;
        font-size: 0.9em;
        margin-right: 10px;

    }
    
}