.golfCourseContainer{
    .welcomeDiv{
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        img{
            width: 500px;
        }
        div{
            width: 30%;
        }
    }
    
    .quoteMarket{
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
        span{
            font-size: 60px;
            font-style: italic;
            text-align: center;
        }
    }
    
    
    .arguments{
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        div{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }
        .rightPhoto{
            position: absolute;
            right: 0;
            width: 50%;
            img{
                width: 100%;
            };
        }
        .leftPhoto{
            position: absolute;
            left: 0;
            width: 50%;
            img{
                width: 100%;
            };
        }
    }
    .textArgument{
        width: 460px;
    }
    .photoArgumentFrame{
        width: 50%;
    }
    .littleSlideshow{
        height: 40vh;
        overflow: hidden;
        .each-slide div{
            height: 40vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .golfMap{
        width: 98vw;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        .googleMapGolf{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            img{
                width: 100%;
            }
        }
        .mapExplaination{
            width: 34%;
            margin: 20px;
        }
        
    }
    .blueDivCTA{
        height: 60vh;
        width: 100%;
        background: #7FBFBE;
        display: flex;
      
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        h3{
            margin: 30px;
            font-size: 1.5em;
        }
        h2{
            margin: 0;
            font-size: 2.8em;
        }
    
        a{
            width: 150px;
            height: 50px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            border-radius: 5px;
            color: white;
            align-items: center;
            margin-right: 30px;
            background:#6A8C57;
            text-transform: uppercase;
            transition: 0.1s all ease-in;
        }
        a:hover{
            background: rgb(60, 80, 49);
        }
    }
}
.overLayer{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 170px;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.664);
    z-index: 1;
    h4{
        font-size: 1.3em;
        margin-left: 15px;
    }
    

    a{
        text-decoration: none;
        color: white;
    }
    .rightCTA{
        border-radius: 5px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background: #122837;
        #spanLine{
            display: inline-block;
            transform: scaleX(3);
            margin-left: 10px;
        }
    }
}
.moto{
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: 1;
    color: white;
   
    h2{
        font-size: 2.8em;
    }
}
.designQuote{
    color: white;
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-size: 2.3em;
    z-index: 3;
}
.relative{
    position: relative;
}