@font-face {
  font-family: "westbay";
  src: url("../src/font/Pangram-Medium.otf");
 }



*{
  font-family: westbay;
  line-height: 1.6;
}
p{
  font-size: 18px;
}
h2{
  font-size: 35px;
  font-weight: 600;
}